@charset "UTF-8";

.reply {
	width: 950px;
	margin-bottom: 20px;
}

.reply>.reply_write>textarea {
	border: 1px solid black;
}

.reply>.reply_write>input[type=button] {
	font-size: 15px;
}

.reply>.reply_list>.reply {
	height: 120px;
	background: lightgray;
}

.reply>.reply_list>.reply>.img {
	width: 180px;
	height: 100%;
	float: left;
}

.reply>.reply_list>.reply>.img:hover {
	cursor: pointer;
}

.reply>.reply_list>.reply>.img>img {
	width: 100%;
	height: 100%;
}

.reply>.reply_list>.reply>.txt {
	margin-left: 10px;
	width: 740px;
	height: 100%;
	float: left;
}

.reply>.reply_list>.reply>.txt>.top {
	height: 35px;
}

.reply>.reply_list>.reply>.txt>.top>.nickname {
	margin: 8px 0px 0px 5px;
	float: left;
}

.reply>.reply_list>.reply>.txt>.top>.nickname:hover {
	cursor: pointer;
}

.reply>.reply_list>.reply>.txt>.top>.btn_ud {
	float: right;
	margin: 8px 15px 0px 0px;
}

.reply>.reply_list>.reply>.txt>.top>.btn_ud>button {
	margin-left: 15px;
}

.reply>.reply_list>.reply>.txt>.mid {
	width: 730px;
	height: 65px;
	margin-left: 10px;
}

.reply>.reply_list>.reply>.txt>.mid>.reply_content {
	width: 100%;
	height: 100%;
}

.reply>.reply_list>.reply>.txt>.bot {
	height: 20px;
	font-size: 13px;
}

/* ////////////////// */
.reply_write {
	margin-top: 20px;
}

/*******************댓글 수정****************/
.reply>.update_comment {
	display: inline-block;
	margin: 15px 0px 0px 15px;
}

.reply .btn_uc {
	float: right;
}

.reply .btn_uc>button {
	margin-right: 15px;
}