@charset "UTF-8";


.myContainer{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	width: 100%;
}

@media (min-width: 576px) {
  .myContainer {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .myContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .myContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .myContainer {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .myContainer {
    width: 90%;
  }
}


#searchBody{
	overflow: scroll;
	width: auto;
}

#searchBody table,th,td{
	border: 2px solid #eee;
	border-collapse: collapse;
}

#searchBody thead:first-child th {
    position: sticky;
    top: 0px;
    min-height: 100px;
    padding: 10px;
    background-color: #333;
    color: #eee;
    vertical-align: bottom;
}
#searchBody thead:first-child div {
  	width: max-content;
  	text-align: center;
}

#searchBody thead:nth-child(2) th {
  	padding: 7px 10px;
    position: sticky;
    top: 100px;
    background-color: #333;
    color: #eee;
}

#searchBody th{
	min-width: 150px;
	white-space: nowrap;
}

#searchBody td{
	padding: 3px 3px;
}