@charset "UTF-8";


.myContainer{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	width: 100%;
}

@media (min-width: 576px) {
  .myContainer {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .myContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .myContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .myContainer {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .myContainer {
    width: 90%;
  }
}

/* 정렬순서 표시 */
#sortDiv{
	
}

#searchBody{
	overflow: scroll;
	width: auto;
}

#searchBody table,th,td{
	border: 2px solid #eee;
	border-collapse: collapse;
}

#searchBody thead:first-child th {
    position: sticky;
    top: 0px;
    min-height: 100px;
    padding: 10px;
    background-color: #333;
    color: #eee;
    vertical-align: bottom;
}
#searchBody thead:first-child div {
  	width: max-content;
  	text-align: center;
}

#searchBody thead:nth-child(2) th {
    position: sticky;
    top: 100px;
    background-color: #333;
    color: #eee;
    align-content: center;
    padding: 4px 0px;
}
#searchBody thead:nth-child(2) span {
	margin: 7px 0px 7px 10px;
}

#searchBody th{
	min-width: 150px;
	white-space: nowrap;
}

#searchBody td{
	padding: 3px 3px;
}

#searchBody tbody td:nth-child(4){
	word-break: break-all;
}

/* 캐럿박스 */
#searchBody thead:nth-child(2) .caretBox{
	width:20px;
	height:auto;
	float:right;
	margin:0;
	cursor: pointer;
	padding: 4px;
}
	/* 위아래 캐럿 공통 */
#searchBody thead:nth-child(2) i{
	float: right;
	margin-right: 3px;
	color: #bbb;
}
	/* 위아래 캐럿 공통 호버 */
#searchBody thead:nth-child(2) .caretBox:hover i{
	color: #fff;
}
	/* 아래 캐럿 */
#searchBody thead:nth-child(2) .caretdown{
}
	/* 위 캐럿 */
#searchBody thead:nth-child(2) .caretup{
	display: none;
}