* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
}

html, body {
	height: 80%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.58;
	color: #333;
	background-color: #f4f4f4;
	height: 100%;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.hidden {
	display: none;
}

.form-control {
	width: 100%;
	min-height: 38px;
	font-size: 15px;
	border: 1px solid #c8c8c8;
}

.form-group {
	margin-bottom: 15px;
}

input {
	padding-left: 10px;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-size: 1.7em;
}

button {
	box-shadow: none;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}

button.default {
	background-color: #e8e8e8;
	color: #333;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
	background-color: #128ff2;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}

button.accent {
	background-color: #ff4743;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}

#username-page {
	text-align: center;
}

.username-page-container {
	background: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	border-radius: 2px;
	width: 100%;
	max-width: 500px;
	display: inline-block;
	margin-top: 42px;
	vertical-align: middle;
	position: relative;
	padding: 35px 55px 35px;
	min-height: 250px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -160px;
}

.username-page-container .username-submit {
	margin-top: 10px;
}

#chat-page {
	position: relative;
	height: 100%;
}

.chat-container {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #A9BDCE;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#chat-page #messageArea {
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - 150px);
	padding-inline-start: 0px;
}

#chat-page #messageForm {
	padding: 20px;
	background-color: white;
}

#chat-page #messageArea .chat-message-li {
	line-height: 1.5rem;
	padding: 10px 20px;
}

#chat-page #messageArea .chat-message-li .message-text {
	margin: 0;
	width: auto;
	min-height: 30px;
	padding: 0px 10px 0px 10px;
}

#chat-page .event-message {
	width: 100%;
	text-align: center;
	clear: both;
}

#chat-page .event-message p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}

#chat-page .chat-message span {
	color: #333;
	font-weight: 600;
}

#chat-page .chat-message .message-text {
	color: #43464b;
}

#messageForm .input-group input {
	float: left;
	width: calc(100% - 85px);
}

#messageForm .input-group button {
	float: left;
	width: 80px;
	height: 38px;
	margin-left: 5px;
}

.chat-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

.chat-header h2 {
	margin: 0;
	font-weight: 500;
}

.connecting {
	padding-top: 5px;
	text-align: center;
	color: #777;
	position: absolute;
	top: 65px;
	width: 100%;
}

.chat-message-li {
	margin-right: 30%;
	overflow: auto;
}
.message-info-ul {
}

.chat-message-li .chat-message {
	background-color: white;
	position: relative;
	border-radius: 5px;
	box-shadow: 1px 1px 0px 0px gray;
	float: left;
	min-height: 40px;
	max-width: 80%;
	word-wrap:break-word;
}

.me {
	margin-left: 30%;
	margin-right: 0%;
	text-align: right;
}

.me .chat-message {
	float: right;
	background-color: #fff130;
}

.view_cnt {
	margin: 0px 5px 0px 5px;
	font-size: 0.8em;
	color: #fff130;
	text-shadow: 1px 1px 1px gray;

}

#chat_btn_common{
	font-size: 0.8em;
	background-color: #fff130;
	color : black;
}

.view_date {
	font-size: 0.9em;
	color: dark-grey;
    margin: 0px 5px 0px 5px;
	text-align: right;
}

.user_img{
	width: 60px;
	float: left;
	border-radius:10px; 
}

.user_img_wrapper {
	height: 60px;
	width: 60px;
	margin-right: 5px;
}

.oponent_user_chat_box{
	margin-left: 55px; 
}
