@charset "UTF-8";

.profileImg {
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 50px;
	border: 1px solid #ccc;
}

.nickname {
	width: 200px;
	float: left;
}

.infoSection {
	height: 250px;
	display: inline-block;
	padding: 70px 0 0 100px;
}

.infoSection ul{
	padding: 0;
	margin-top: 10px;
}

.infoSection ul li{
	width: 150px;
	list-style: none;
	float: left;
}

.postSection{
	width: 100%;
}

.myPost{
	height: 600px;
	border: 1px solid black;
	margin: 0;
}

.createPost{
	padding-top: 200px;
	margin: 0;
}

.pictureSection{
	float: left;
	width: 300px;
	height: 250px;
}

.picUpdateBtn {
	margin-top: 15px;
	margin-left: 50px;
}

.picDeleteBtn {
	margin-top: 15px;
}




/* 내글에 대한 스타일 */
.community_list {
	width: 590px;
	min-height: 300px;
}

.btn_write {
	width: 590px;
	display: inline-block;
	margin: 20px 105px 20px 105px;
}
.btn_write>button {
	float: right;
	font-size: 25px;
}

.community_list>.post {
	width: 590px;
	height: 130px;
	display: inline-block;
	border: 1px solid lightgray;
	border-radius : 15px 15px 15px 15px;
	box-shadow : 5px 7px 5px lightgray;
	overflow:hidden;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.community_list>.post:hover {
	cursor: pointer;
}

.community_list>.post>.img {
	width: 200px;
	height: 100%;
	float: left;
}

.community_list>.post>.img>img {
	width: 100%;
	height: 100%;
}

.community_list>.post>.txt {
	float: left;
	margin: 5px 0px 0px 15px;
}

.txt>.writer {
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

.txt>.comment {
	min-height: 90px;
	margin-top: 5px;
}

.txt>.view {
	font-size: 13px;
}

.txt>.view>span {
	margin-right: 15px;
}