@charset "UTF-8";

.container{
	font-family: 'Noto Sans KR', sans-serif;
	min-height: 500px;
}

.table{
	max-width:800px;
}
.container .writeBtn{
	float: right;
}

.noTh{
	width: 30px;
}
.conTh{
	width: 200px;
}
.titleColor{
	color: black;
}

.paging_input{
	cursor: pointer;
}
