@charset "UTF-8";

.container1, .container2{
	font-family: 'Noto Sans KR', sans-serif;
	min-height: 900px;
	width:500px;
	display: inline-block;
}

.container1{
	margin-right:150px;
}
.container2 .writeBtn{
	float: right;
}

.noTh{
	width: 30px;
}
.conTh{
	width: 400px;
}
.titleColor{
	color: black;
	cursor: pointer;
}
.btnhidden{
	float: right;
	height:38px; 
	font-size: 38px;
	color: white;
	overflow: hidden;
	cursor: default;
}
.paging_input{
	cursor: pointer;
}

.contents{
	display:none;
}
