@charset "UTF-8";

.container1, .container2{
	font-family: 'Noto Sans KR', sans-serif;
	min-height: 900px;
	width:500px;
	display: inline-block;
}

.container1{
	margin-left: 200px;
	margin-right:150px;
}
.container2 .writeBtn{
	float: right;
}
.faq_noTh{
	width: 30px;
}
.faq_conTh{
	width: 400px;
}
.qna_noTh{
	width: 30px;
}
.qna_conTh{
	width: 280px;
}

.qnaTitle{
	width:300px; 
	border:1px solid black;
	border-radius: 5px;
}
.textarea{
	background-color: #FFFFD2;
	margin:20px 0 0 0;
	border-radius: 10px;
}
textarea:focus {
    outline: none;
}
.titleColor, .faqtitleColor{
	color: black;
	cursor: pointer;
}
.conArea{
	background: pink;
	width:300px;
	height: 300px;
}
.titleBox{
	margin-right: 80px;
}
.answerBtn{
	float: right;
	margin-right:26px;
}
.btnhidden{
	float: right;
	height:38px; 
	font-size: 38px;
	color: white;
	overflow: hidden;
	cursor: default;
}
.qna_paging{
	cursor: pointer;
}
.faq_paging{
	cursor: pointer;
}
.answer{
	float: right;
}
.contents{
	display:none;
}
